{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<h2 style="text-align:center; margin-bottom: 32px;">Dashboard Eventi</h2>

<div style="text-align:right; margin-bottom: 18px;">
  <a href="{{ url_for('add_event') }}" class="btn-new-event">+ Nuovo evento</a>
</div>

<div class="dashboard-table-wrapper">
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Data</th>
        <th>Posti Venduti</th>
        <th>Posti Validati</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for e in events |sort(attribute='id') %}
      <tr>
        <td>{{ e.title }}</td>
        <td>{{ e.date }}</td>
        <td>{{ e.sold }}</td>
        <td>{{ e.validated }}</td>
        <td>
          <a href="{{ url_for('event_transactions', event_id=e.id) }}" class="btn-table">Transazioni</a>
        </td>
        <td class="dashboard-actions">
          <a href="{{ url_for('edit_event', event_id=e.id) }}" class="btn-table btn-edit">Modifica</a>
        </td>
        <td>
          <form action="{{ url_for('delete_event', event_id=e.id) }}" method="post" style="display:inline;"
            onsubmit="return confirm('Sei sicuro di voler eliminare questo evento?');">
            <button type="submit" class="btn-table btn-delete">Elimina</button>
          </form>

        </td>
        <td>
          <a href="{{ url_for('admin_book_seats', event_id=e.id) }}" class="btn-table"
            style="background:#d2bd19;color:#000000;margin-top:6px;display:block;">Cassa</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7" style="text-align:center; color:#888;">Nessun evento presente.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}